@font-face {
  font-family: 'Cinzel';
  src: url('/assets/fonts/Cinzel-400.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/assets/fonts/Cinzel-700.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Cinzel';
  src: url('/assets/fonts/Cinzel-900.woff2') format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('/assets/fonts/NotoSerif-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('/assets/fonts/NotoSerif-Bold.woff2') format('woff2');
  font-weight: 700;
}